{% load i18n %}

<ul>
    {% for task in project.task_set.all %}
        <li>
            <form method="post" action="{% url 'Task_update' task.id %}">
                {% csrf_token %}
                <input
                        type="checkbox"
                        name="is_completed"
                        {% if task.is_completed %} checked {% endif %}
                        onchange="this.form.submit()"
                />
                {{ task.description }}
            </form>
            <form method="post" action="{% url 'Task_delete' task.id %}">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
<form method="post" action="{% url 'Task_create' %}">
    {% csrf_token %}
    <input type="hidden" value="{{ project.id }}" name="project">
    <input type="text" name="description" placeholder="{% trans 'New Task' %}" />
    <input type="submit" value="{% trans 'Add' %}" />
</form>
