{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-success bg-gradient p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'Project_list' %}">{% trans 'Project Management' %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Project_list' %}">{% trans 'Home' %}</a>
        </li>
      </ul>
        <form method="GET" action="{% url 'Project_list' %}" class="d-flex">
            <div class="input-group">
                <input
                    type="text"
                    name="q"
                    class="form-control"
                    placeholder="{% trans 'Search' %}"
                    value="{{ request.GET.q }}"
                />
                <button class="btn btn-outline-light" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
  </div>
</nav>